@font-face{
    font-family: Shrikhand;
    font-weight: 800;
    src: url("../polices/Shrikhand-Regular.otf") format("OpenType");
}
@font-face{
    font-family: Roboto;
    src: url("../polices/Roboto-Regular.ttf") format("TrueType");
}
body{
    margin: 0;
    font-family: Roboto;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}