nav {
  width: 90%;
  padding-top: 30px;
  counter-reset: number;
  font-weight: 900;
}
nav h2 {
  width: 100%;
}
nav ol {
  list-style-type: none;
  padding: 0;
}
nav li {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px -0px 10px -4px;
  padding: 10px;
  padding-left: 0px;
}
nav li:before {
  counter-increment: number;
  content: " " counter(number) "";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  color: white;
  border: none;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  right: 10px;
  border-radius: 100%;
}
nav i {
  margin-right: 30px;
  margin-left: 10px;
  width: 20px;
  font-size: 1.1em;
  color: gray;
}
.ColorIcone {
  color: #9356dc;
}
@media screen and (min-width: 1000px) {
  nav ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav li {
    flex-basis: 30%;
  }
}
