footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 10px;
  padding-left: 5%;
  li {
    margin-bottom: 5px;
    width: auto;
  }
  i {
    margin-right: 10px;
    font-size: 0.8em;
    width: 20px;
  }
}
ul {
  list-style-type: none;
  padding: 0;
}
.OhMyFood {
  font-family: Shrikhand;
}
