footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 10px;
  padding-left: 5%;
  li {
    margin-bottom: 5px;
  }
  i {
    margin-right: 10px;
    font-size: 0.8em;
    width: 20px;
  }
}
ul {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
  flex-direction: column;
}
.OhMyFood {
  font-family: Shrikhand;
  margin-bottom: 0;
  font-size: 1.2em;
}
